ul{
     list-style-type: none;
     margin: 0;
     padding:0;

}
li{
    float:left;
    display: block;
    padding: 0;
}

#main{
    width:100%;
    height:20000px;
    border-style:inset;
    background-color:rgb(196, 196, 196);
    position: relative;
}
#toolbar{
    clear:both;
}


input#Fsize{
    width:60px;
    padding: 0;
    border-style: solid;
    border: 10px;
}
input#Fstyle{
    width:150px;
    padding: 0;
    border-style: solid;
    border-color: lemonchiffon;
    border: 10px;
}

.visible{
    display:block;
}

.invisible{
    display:none;
}

.menuSize{
    width:40px;
    z-index: 100;
}

.sizeable{
    float: none;
    width:60px;

}

.menuListSize{
    width:60px;
    height:150px;
    padding: 1px 1px;
    background-color: white;
    border: 1px;
    border-style:solid;
    overflow: auto;
    z-index: 100;
}
.size-button{
    width:60px;
    background-color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    z-index: 100;
}
.size-button:hover{
    background-color: rgb(78, 186, 245);
}



.menuStyle{
    width:200px;
    z-index: 500;
}

.styleable{
    float: none;
    width:200px;
    z-index: 500;
}

.menuListStyle{
    width:200px;
    height:150px;
    background-color: white;
    border: 1px;
    border-style:solid;
    overflow-y: auto;
    z-index: 500;
}

.style-button{
    width:200px;
    background-color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    z-index: 500;
    
}

.style-button:hover{
    background-color: rgb(78, 186, 245);
}

#toolbar{
    width: 100%;
    height:30px;
    padding: 1px;
    z-index: 30;
    
    
}
#widgetbar{
    width: 100%;
    height:30px;
    padding: 1px;
    z-index: 30;
    
}
#header{
    top:0;
    position: fixed;
    background-color: white;
    width:100%;
    z-index: 30;
}

#resizer{
    position: absolute;
    z-index: 1000;
    border-style:dashed;
}

.c_resize{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:black;
    z-index: 1000;
}

.resizer_on{
    display: block;
}

.resizer_off{
    display: none;
}

div[id^='text_holder'] > div{
    
    font-size: 100%;
}

div.active_slide{
  display:block;
}
div.inactive_slide{
    display:none;
  }